<div class="row text-center login">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <form class="example-form" [formGroup]="loginForm">
      <div class="img text-center">
        <img src="../../../assets/md-codes.png" width="200px">
      </div>
      <div class="starter-template">
        <h1>Ticket Managament System</h1>
        <p class="lead">
          Normal User : normalUser@gmail.com 123456789
          <br>
          Admin User : mustafa05deniz@gmail.com 123456789
        </p>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. Pizza" value="normalUser@gmail.com">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Ex. Pizza" type="password" value="123456789">
      </mat-form-field>

      <button mat-raised-button="primary" (click)="signIn()"
        [disabled]="this.loginForm.invalid || is_click">
        <div *ngIf="!is_click">Login</div>
        <img *ngIf="is_click" src="../../../assets/spinner.gif" width="40px">
      </button>
      <div class="signup">
        <button mat-button="primary" [routerLink]="['/auth/register']">signup</button>
      </div>
    </form>


  </div>
  <div class="col-md-3"></div>
</div>